@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="page-wrapper">
    <div class="board-wrapper">
        @foreach (var message in Model.Messages)
        {
            <div id="messageId-@message.Id" class="message-wrapper" style="background-color: #@message.Color;">
                <div class="message-info">
                    <div class="info-user"><i class="fas fa-hospital-symbol"></i> <span>@message.Author • 3 min ago</span></div>
                </div>
                <div class="message-content">
                    <div class="content-text">
                        <p>@message.Text</p>
                    </div>
                    <div class="content-rating">
                        <div class="rating-down"><i class="fas fa-chevron-up"></i></div>

                        <div class="rating-count">@message.Rating</div>

                        <div class="rating-down"><i class="fas fa-chevron-down"></i></div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="create-wrapper">

        <div class="create-content">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Message.Author" class="control-label"></label>
                    <input asp-for="Message.Author" class="form-control" />
                    <span asp-validation-for="Message.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message.Text" class="control-label"></label>
                    <input asp-for="Message.Text" class="form-control" />
                    <span asp-validation-for="Message.Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

@*<script>
        $(document).ready(
            function () {
                var url = "Video?handler=Latest";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (result) {
                    console.dir(result);
                });
            }
        );
    </script>*@

<script src="https://code.jquery.com/jquery-3.3.1.slim.js"
        integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous">
</script>

<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() === $(document).height() - $(window).height()) {
            //// Send ID with AJAX
            var lastId = $(".board-wrapper .message-wrapper:last-child").attr("id").slice(10);


            console.log(lastId);
            var url = "Index?handler=Pagination&id=20";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json"
            }).done(function (result) {
                console.dir(result);
            });
            //// GET 20 more messages and print

            //$(".page-wrapper").append('<div class="big-box"><h1>Page ' + "12" + '</h1></div>');
        }
    });
</script>