@page
@model MECCHAN.Pages.Admin.CreateModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>